.Myyoa {
    border: 5px solid rgb(224, 82, 82);
    background-color: mediumspringgreen;
    text-align: center;
}

.Myst{

    border: 5px solid rgb(74, 111, 199);
    background-color: rgb(101, 174, 142);
    text-align: center;
}

.Mymr{
    border: 5px solid rgb(221, 58, 185);
    background-color: rgb(173, 236, 2);
    text-align: center;
}
